{% extends 'base.html' %}
     {% block content %}
        <form>
        <center><h1>Our Products</h1></center>
        <div class="cate">
            <center><a class="butn2" href="/shoppingapp/product?cid=c1">T-shirt</a><br>
        <br>
        <br><a class="butn2" href="/shoppingapp/product?cid=c2">Watches</a></button>
        <br>
        <br>
        <br>
                <a class="butn2" href="/shoppingapp/product?cid=c3">Spectacles</a>
        <br>
        <br>
        <br>
                <a class="butn2" href="/shoppingapp/product?cid=c4">Wallets</a>
        </center>
        </div>
        </form>
    {% endblock %}