{% extends 'base.html' %}
     {% block content %}
        <form>
        <center><h1>Our Products</h1></center>
        <div class="cate">
            <center><a class="butn2" style="background: #5F5555;" href="/shoppingapp/product?cid=c6">Television</a><br>
        <br>
        <br><a class="butn2" style="background: #5F5555;" href="/shoppingapp/product?cid=c7">Air-Conditioner</a></button>
        <br>
        <br>
        <br>
                <a class="butn2" style="background: #5F5555;" href="/shoppingapp/product?cid=c8">Mobile</a>
        <br>
        <br>
        <br>
                <a class="butn2" style="background: #5F5555;" href="/shoppingapp/product?cid=c9">Laptop</a>
       
        </center>
        </div>
        </form>
    {% endblock %}