{% extends 'base.html' %}
     {% block content %}
{% if form.errors %}

<p class="error"> Invalid Username or Password </p>
{% endif %}
<div class="main2">
    <div class="head">
<h1 style="padding-left:20px;padding-top:5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forgot ?</h1>
</div>

<form action="/shoppingapp/auth_forgot/" method="post">{% csrf_token %}
<div class="sign">
<table align="center">
<tr>
<td><br>Enter Username</td>
</tr>
<tr>
<td><input type ="text"  name="uname" style="width:200px;height:27px;" required=""/></td>
</tr>

<tr>
<td><br>Enter email</td>
</tr>
<tr>
<td><input type ="text"  name="email" style="width:200px;height:27px;" required=""/></td>
</tr>
<tr>
<td><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="butn" type="submit">send</button>
</td>
</tr>
</table>
</div>
</form>
</div>
 {% endblock %}