
{% extends 'base.html' %}
     {% block content %}
{% if form.errors %}

<p class="error"> Invalid Username or Password </p>
{% endif %}
<div class="main">
    <div class="head">
<h1 style="padding-left:20px;padding-top:5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login</h1>
</div>

<form action="/shoppingapp/auth/" method="post">{% csrf_token %}
<div class="sign">
<table align="center">
<tr>
<td><br>Enter Username</td>
</tr>
<tr>
<td><input type ="text"  name="username" style="width:200px;height:22px;" required=""/></td>
</tr>

<tr>
<td><br>Enter Password</td>
</tr>
<tr>

<td><input type ="Password"  name="password" style="width:200px;height:22px;" required=""/></td>
</tr>
<tr>
<td><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="butn">Login</button>
</td>
</tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
</table>
<table border="1px" align="center">
<tr>
<td style="padding-left : 10px;padding-right: 10px;"><a href="/shoppingapp/signup/" style="text-decoration:none;color:#373d53;">Signup</a></td>
<td><a href="/shoppingapp/forgot" style="text-decoration:none;color:#373d53;">Forgot Password</a></td>
</tr>
</table>
</div>
</form>
</div>
    {% endblock %}

